:root {
  --big-font-size: 32px;
  --header-height: 30px;
  --top-nav-height: 30px;
  --footer-height: 50px;
  --border-thickness: 2px;
}

body {
  background: lightgray
}

body {
  background-color: black;
  color: white;

  margin: auto;
  border: var(--border-thickness) solid;
  border-radius: 8px;
  
  display: grid;
  min-height: calc(100vh - var(--border-thickness) * 2);
  max-width: 1000px;

  grid-template-columns: 100%;
  grid-template-rows: var(--header-height) var(--top-nav-height) 1fr var(--footer-height);
  grid-template-areas: "header"
    "nav"
    "main"
    "footer";
}

body a {
  color: #8080FF;
  text-decoration: unset;
}

body a:visited {
  color: #ba73be;
}

header {
  grid-area: header;
  text-align: center;
  align-self: center;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

nav>a {
  flex: 1 1 auto;
  border-right: 1px;
}

nav>a+a {
  border-left: solid 1px white;
}

nav>a:last-child {
  border-right: 0px;
}

footer {
  grid-area: footer;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  grid-area: main;
  padding: 16px;
}

article {
  max-width: 600px;
  margin: auto;
}

.nocontent {
  display: none;
}

.self-picture {
  float: right;
}

h1 {
  font-size: 6vw;
}

@media (min-width: 500px) {
  :root {
    --header-height: 40px;
    --top-nav-height: 40px;
    --footer-height: 70px;
  }

  h1 {
    font-size: 32px;
  }

  nav, footer {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  :root {
    --header-height: 60px;
    --top-nav-height: 60px;
    --footer-height: 90px;
  }

  h1 {
    font-size: 36px;
  }

  nav, footer {
    font-size: 32px;
  }
}